form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    background-color: #1900ff; /* Green background */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Change mouse pointer on hover */
    border-radius: 10px; /* Add rounded corners */
    transition: all 0.3s ease-in-out; /* Add transition effect */
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41; /* Darker green on hover */
  }
  